<h1>
Results  
</h1>
<h2>Search Results for "<%= params[:search] %>"</h2>

<div class="container">
  <ul class="product-list">
    <% @products.each do |p| %>
    <li>
      <a href="/product/<%= p['productId'] %>">
      <%= img_for(p) %> 
      <span class="brandName"><%= p['brandName'] %></span>
      <span class="productName"><%= p['productName'] %></span>
      <span class="price"><%= p['price'] %></span>
      </a>
    </li>
    <% end %>
  </ul>
</div>
